body.auto-hidden {
  overflow-y: hidden;
}
.modal,
.modal-overlay {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.modal-overlay {
  background: rgba(0, 0, 0, 0.619);
}

.modal-content {
  -webkit-animation: scale-up-center 0.5s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: scale-up-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    transform: translate(-50%, -50%);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    transform: translate(-50%, -50%);
  }
}
